/* Setup theme varibale for custom components usage  */
:root {
  /* Color variables */
  --primary: #4e342e;
  --success: #12B76A;
  --error: #B42318;
  --text-clr: #d0b5af;
  --border-clr: #667085;
  --white: #fff;
  /* Font variables based on theme */
  --h5: 18px;
  --h6: 16px;
  --subtitle1: 14px;
  --font-weight-300: 300;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  ---line-height-20: 20px;
  ---line-height-24: 24px;
  --btn-font: 14px;
  --btn-line-height: 24px
}

.app-container {
  max-width: 1536px;
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 600px) and (max-width: 1536px) {
  .app-container {
    max-width: 1536px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 600px) {
  .app-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
